# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Test
.pytest_cache/
test.db
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log
